a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.term {
    color: #cc0000;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

.explanation{
    font-size: 16px;
}

.back {
    border: 1px solid #4f73e3;
    background-color: #4f73e3;
    border-radius: 5px;
}

button a {
    color: #fff;
    cursor: pointer;
}